<center>
    <!doctype html>
    <html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <title>Input Success</title>
    </head>
    <div class="p1">
        <b>Input Success!</b>
    </div>
    <br>
    <div class="container"  >
            <b>course_id: </b> {{course_id}}<br>
            <b>is_paid: </b> {{is_paid}}<br>
            <b>price: </b> {{price}}<br>
            <b>num_subscribers: </b> {{num_subscribers}}<br>
            <b>num_reviews: </b> {{num_reviews}}<br>
            <b>num_lectures: </b> {{num_lectures}}<br>
            <b>level: </b> {{level}}<br>
            <b>content_duration: </b> {{content_duration}}<br>
            <b>subject: </b> {{subject}}<br>
            <b>year_p: </b> {{year_p}}<br>
            <b>month_p: </b> {{month_p}}<br>
            <b>date_p: </b> {{date_p}}<br>
            <b>is_success: </b> {{is_success}}<br>
    </div>
    <hr>
    <a href="/db_fn" target="_self" >
        <button style="background-color: rgb(255, 90, 95); color: whitesmoke" class="btn btn-light">
            Input Again
        </button>    
    </a>
    <a href="/" target="_self" >
        <button style="background-color: rgb(255, 90, 95); color: whitesmoke" class="btn btn-light">
            Back to Home
        </button>    
    </a>
</center>